section{
    page-break-after: always;
}

@media print
{
    a[href]:after { content: none !important; }
    img[src]:after { content: none !important; }

    #navigation, .do-not-print, #menu {display:none}

    table{
        font-size: 12px;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: 5px;
    }

    .table>thead>tr>th{
        font-size: 16px;
    }

}
